/* Importing font */
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

/* Global styles */
* {
  font-family: "VT323", monospace;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

/* Background animation canvas */
canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure canvas is behind content */
}

/* Main content styling */
h1 {
  font-size: 3em;
  text-align: center;
  color: #034a10;
  margin-top: 0;
  margin-bottom: 0.5em;
}

label {
  color: #034a10;
  font-size: 2em;
}

textarea {
  background-color: rgba(255, 255, 255, 0.1);
  color: #00ff00;
  border: 1px solid #00ff00;
  padding: 10px;
  margin: 0 auto;
  width: 60%;
  max-width: 700px;
  height: 100px;
  display: block;
  resize: none;
  font-size: 1.5em;
  text-align: center;
}

/* Input options alignment */
.inputs {
  color: #034a10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Process button */
button {
  background-color: #034a10;
  color: #00ff00;
  border: 1px solid #00ff00;
  padding: 10px;
  margin: 0 auto;
  width: 60%;
  max-width: 200px;
  display: block;
  cursor: pointer;
  font-size: 1.5em;
}

/* Mobile responsive styles */
@media only screen and (max-width: 600px) {
  .all1 {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
  }

  textarea,
  .inputs,
  button,
  label,
  #result {
    width: 90%;
    max-width: 300px;
    margin-bottom: 20px;
    text-align: center;
  }

  button:last-of-type {
    width: 90%;
    max-width: 70px;
    background-color: #034a10;
    color: #00ff00;
    border: 1px solid #00ff00;
    padding: 10px;
    cursor: pointer;
  }
}

/* Footer styling */
footer {
  font-size: 1.5em;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
}

/* Footer content container */
.footer-content {
  max-width: 600px;
  margin: 0 auto;
}

/* Social links in footer */
.social-links a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
}

.social-links a:hover {
  text-decoration: underline;
}

/* SweetAlert2 customization */
.swal2-popup {
  font-family: 'VT323', monospace;
  background-color: rgba(0, 0, 0, 0.8);
}

.swal2-title,
.swal2-content,
.swal2-icon,
.swal2-close-button {
  color: #00ff00;
}

.swal2-styled {
  background-color: #034a10 !important;
  color: #00ff00 !important;
}

/* Customizing icon on mobile devices */
@media only screen and (max-width: 600px) {
  .swal2-popup .swal2-icon svg {
    width: 2em !important;
    height: 2em !important;
  }

  .swal2-popup .swal2-icon path {
    fill: #00ff00 !important;
  }
}
